
.fondo {
    background-image: url("../img/fondobody.jpg");
    background-size: 20rem;
    background-attachment: fixed;
    font-family: "Montserrat Alternates", sans-serif;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-alternates-extrabold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  li a:hover {
    background-image: url(../img/fondobody.jpg);
    background-size: 5rem;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
  }

  .flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
  }

  .infocontainer, .infocontainer2 {
    background-color: rgba(75, 39, 53, 0.808);
    background-position: center;
    width: auto;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: auto;
    color: rgb(248, 183, 199);
    position: relative;
  }

  .infocontainer2 {
    flex-direction: column;
  }

  .intro {
    width: 250px;
    margin-right: 50px;
    border-radius: 50%;
  }

  h2 {
    font-size: 50px;
    font-weight: bold;
  }

  h3 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(248, 183, 199);
  }

  .name {
   font-size: 100px;
   font-weight: bold;
   color: rgb(248, 183, 199);
  }

  p {
    font-size: 23px;
    color: rgb(248, 183, 199);
  }

  .estudiosimg {
    width: 290px;
    margin-bottom: 25px;
    border-radius: 50%;
  }

  .adl {
    align-items: center;
  }

  .logoadl {
    width: 200px;
  }

  ol {
    font-size: 25px;
    text-align: start;
  }


